.companytitle {
    text-align: center;
    font-family: "Open Sans";
    color: #000000;
    font-size: 3em;
    font-weight: 700;
    line-height: 1.2em;
    margin:0.75em auto;
    padding:0em;
}

.languages {
    display: table-row;
    font-size: 1em;
}

    .languages div {
        display: table-cell;
        padding-right: 0.5em;
    }

    .languages a {
        color: #b9b9b9;
        text-decoration: none;
        transition: all 300ms ease;
        font-family: 'Quattrocento Sans';
        font-style: normal;
        font-size: 1em;
        font-weight: 400;
        line-height: 1.5625em;
    }

        .languages a:hover {
            color: black;
            text-decoration: none;
        }

.navigationSection {
    display: table;
    margin: 0.5em auto;
    font-size: 1em;
}        

.navigationbar {
    display: block;
    font-size: 1.5em;
}

    .navigationbar span {
        display: inline-block;
        padding: 0 0.625em;
    }

    .navigationbar a {
        color: #b9b9b9;
        text-decoration: none;
        font-family: 'Quattrocento Sans', sans-serif;
        font-weight: 400;
        line-height: 1.5em;
        text-align: left;
        transition: all 300ms ease;
    }

        .navigationbar a:hover {
            color: black;
            text-decoration: none;
        }

.iconsection {
    display: table;
    margin: 0 auto;
}

.iconbar {
    display: table-row;
}

    .iconbar span {
        display: table-cell;
        padding-right: 1.125em;
    }

.imagerow {
    display: block;
}

    .imagerow span {
        display: inline-block;
        padding-top: 0.51em;
        padding-bottom: 0.56em;
        padding-left: 0.66em;
        padding-right: 0.66em;
    }

.imagecaption {
    width: 289px;
    text-align: center;
    color: #3e3e3e;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 400;
    font-size: 90%;
}

    .imagecaption a {
        text-decoration: none;
    }

.titleblock {
    width: auto;
    height:auto;
    text-align:center;
    position:relative;
    margin-top: 3.125em;
    margin-bottom: 0;
    font-size: 1em;
}

.titleblock img {
    width: 100%;
    max-width: 100%;
    margin: 0;
    font-size: 0;
}

.titletext {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    color: white;
    font-size: 3em;
    font-family: "Open Sans";
    font-weight: 700;
}

.spacer {
    height: 3.125em;
}

.menublock {
    background-color: #190400;
    height: auto;
    font-size: 1.0em;
    margin: -1em 0 0 0;
}

.menuitems {
    text-align: center;
    font-family: "Open Sans" !important;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.2em;
    color: white;
	padding-top: 2.1em;
	padding-bottom: 0.6em;
    margin: 0;
}

.menuitem {
    display: block;
    margin-bottom: 0.7em;
}

    .menuitem a {
        text-align: center;
        text-decoration: none;
        color: white;
        font-size: 1.13em;
        font-weight: 700;
        line-height: 1.2em;
        font-family: "Open Sans";
    }

.menucaption {
    display: block;
    color: #999999;
    font-family: "Quattrocento Sans";
    font-size: 1.0em;
    font-weight: 400;
    font-style: italic;
    line-height: 1.5em;
    text-align: center;
    margin-bottom: 1.3em;
}

.gallery {
    margin: 0.3125em;
    border: 1px solid #fff;
    float: left;
    width: 300px;
}

    .gallery:hover {
        border: 1px solid #777;
    }

    .gallery img {
        width: 100%;
        height: auto;
    }

.bottombar {
    display: table;
    margin: 0 auto;
}

.contentsection {
    display: table;
    margin: 2.5em auto;
}

    .contentsection iframe {
        display: block;
        margin: 1.25em auto;
    }

.socialicons {
    display: block;
    margin: 2.5em auto;
}

    .socialicons span {
        display: inline-block;
        padding: 1.25em 1.25em;
        height: 100%;
        vertical-align: middle;
    }

.storesection {
    display: table;
    margin: auto;
}

.aboutsection {
    width: 100%
}

    .aboutsection h1 {
        color: #3e3e3e;
        font-family: 'Quattrocento Sans', sans-serif;
        font-size: 2em;
        font-weight: 400;
        text-align: center;
    }

    .aboutsection h2 {
        color: #3e3e3e;
        font-family: 'Quattrocento Sans', sans-serif;
        font-size: 1.5em;
        font-weight: 400;
        text-align: center;
    }

    .aboutsection p {
        color: #3e3e3e;
        font-family: 'Quattrocento Sans', sans-serif;
        font-size: 1em;
        font-weight: 400;
        text-align: center;
    }

    .aboutsection img {
        display: block;
        margin: 0 auto;
        max-width: 90%;
   }

.privacypolicy {
    margin: 0 auto;
}

    .privacypolicy h1 {
		color: #000000;
        font-family: 'Open Sans';
        font-size: 1.5em;
        font-weight: 700;
        text-align: center;
		margin: 0;
		padding: 0;
    }

    .privacypolicy h2 {
        color: #3e3e3e;
        font-family: 'Quattrocento Sans', sans-serif;
        font-size: 1.2em;
        font-weight: 700;
		text-align: left;
    }

    .privacypolicy p {
        color: #3e3e3e;
        font-family: 'Quattrocento Sans', sans-serif;
        font-size: 1em;
        font-weight: 400;
		text-align: left;
		margin-bottom: 10px;
		line-height: 1.5em;
    }
	