<section class="about-section">
    <h1 class="about-header">Osgoode Media</h1>
    <amp-img class="about-image" src="https://www.osgoodemedia.com/images/Osgoode-Media-Title.jpg" width="1800" height="1200"
        layout="responsive" alt="Maria, Suchawira, Choco, HT Bunz, Captain and the girl from Enadakina" ></amp-img>
    <p class="about-description">
        This picture shows characters from some Osgoode Media video games (from left to right): 
        Captain (Detectivez), Maria (Cadulium), Choco (Detectivez), the magical stranger from Touch from a Raindrop, H.T. Bunz (Detectivez), a character from Enadakina.
    </p>
</section>