<ul class="sidebar-social-list">
    <li>
        <a class="social-link" href="https://twitter.com/{{ layout.twitter }}" target="_blank" aria-label="Osgoode Media on Twitter">
            <amp-img src="{{ "/images/twitter-small.png" | absolute_url }}" layout="fixed" width="28" height="26" alt="Twitter logo"></amp-img>
        </a>
    </li>
    <li>
        <a class="social-link" href="https://www.facebook.com/{{ layout.facebook }}" target="_blank" aria-label="Osgoode Media on Facebook">
            <amp-img src="{{ "/images/facebook-small.png" | absolute_url }}" layout="fixed" width="28" height="28" alt="Facebook logo"></amp-img>
        </a>
    </li>
    <li>
        <a class="social-link" href="https://www.instagram.com/{{ layout.instagram }}/" target="_blank" aria-label="Osgoode Media on Instagram">
            <amp-img src="{{ "/images/instagram-small.png" | absolute_url }}" layout="fixed" width="28" height="28" alt="Instagram logo"></amp-img>
        </a>
    </li>
    <li>
        <a class="social-link" href="https://www.pinterest.com/{{ layout.pinterest }}/" target="_blank" aria-label="Osgoode Media on Pinterest">
            <amp-img src="{{ "/images/pinterest-small.png" | absolute_url }}" layout="fixed" width="28" height="33" alt="Pinterest logo"></amp-img>
        </a>
    </li>
</ul>