<ul class="sidebar-social-list">
    <li>
        <a class="social-link" href="https://twitter.com/{{ layout.twitter }}" target="_blank" aria-label="Osgoode Media on Twitter">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="22.2" viewBox="0 0 53 49">
                <path class="icon-twitter" />
            </svg>
        </a>
    </li>
    <li>
        <a class="social-link" href="https://www.facebook.com/{{ layout.facebook }}" target="_blank" aria-label="Osgoode Media on Facebook">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="23.6" viewBox="0 0 56 55">
                <path class="icon-fb" />
            </svg>
        </a>
    </li>
    <li>
        <a class="social-link" href="https://www.instagram.com/{{ layout.instagram }}/" target="_blank" aria-label="Osgoode Media on Instagram">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 54 54">
                <path class="icon-instagram" />
            </svg>
        </a>
    </li>
    <li>
        <a class="social-link" href="https://www.pinterest.com/{{ layout.pinterest }}/" target="_blank" aria-label="Osgoode Media on Pinterest">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="28.5" viewBox="0 0 43 51">
                <path class="icon-pinterest" />
            </svg>
        </a>
    </li>
</ul>