<nav>
    <ul class="nav-list">
        {%- for category in site.categories -%}
        {%- unless category[0] == "blog" %}
        <li class="nav-listitem-accordion">
            <amp-accordion class="nav-accordion" layout="container" disable-session-states>
                <section class="nav-accordion-section">
                    <header class="nav-accordion-header">{{ category[0] }}</header>
                    <ul class="nav-accordion-list">
                        {%- for p in category[1] %}
                        <li class="nav-accordion-listitem">
                            <a class="nav-accordion-link" href="{{ p.url | absolute_url }}">{{ p.title }}</a>
                        </li>
                        {%- endfor %}
                    </ul>
                </section>
            </amp-accordion>
        </li>
        {%- endunless -%}
        {%- endfor %}
    </ul>
</nav>