<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ page.url | absolute_url }}"
    },
    "headline": "{{ page.title }}",
    "image": [
      "{{ page.image1x1 | absolute_url }}",
      "{{ page.image4x3 | absolute_url }}",
      "{{ page.image16x9 | absolute_url }}"
    ],
    "datePublished": "{{ page.date | date_to_xmlschema }}",
{%- if page.last_modified_at %}
    "dateModified": "{{ page.last_modified_at | date_to_xmlschema }}",
{%- else %}
    "dateModified": "{{ page.date | date_to_xmlschema }}",
{%- endif %}
    "author": {
      "@type": "Organization",
      "name": "Osgoode Media"
    },
     "publisher": {
      "@type": "Organization",
      "name": "Osgoode Media",
      "logo": {
        "@type": "ImageObject",
        "url": "https://www.osgoodemedia.com/images/Osgoode-Media-Logo.png",
        "width": 400,
        "height": 400
      }
    },
    "description": "{{ page.description }}"
  }
  </script>