{% capture title %}{{ page.title | append: " | Osgoode Media" }}{% endcapture %}
<title>{{ title }}</title>
<meta name="description" content="{{ page.description }}">
<link rel="icon" type="image/png" href="https://www.osgoodemedia.com/images/favicon.png">
<link rel="canonical" href="{{ page.url | absolute_url }}">
<meta property="og:site_name" content="Osgoode Media" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="website" />
<meta property="og:description" content="{{ page.description }}">
<meta property="og:url" content="{{ page.url | absolute_url }}" />
<meta property="og:image" content="{{ page.image2x1 | absolute_url }}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@OsgoodeMedia">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ page.description }}">
<meta name="twitter:image" content="{{ page.image2x1 | absolute_url }}">
<meta name="twitter:image:alt" content="{{ page.title }}">