{%- assign twitter = page.twitter | default: layout.twitter %}
{%- assign facebook = page.facebook | default: layout.facebook %}
{%- assign instagram = page.instagram | default: layout.instagram %}
{%- assign pinterest = page.pinterest | default: layout.pinterest %}
<ul class="social-icon-list">
    <li>
        <a class="social-link" href="https://twitter.com/{{ twitter }}" target="_blank" aria-label="Osgoode Media on Twitter">
            <amp-img src="{{ "/images/twitter-icon.png" | absolute_url }}" layout="fixed" width="54" height="50" alt="Twitter logo"></amp-img>
        </a>
    </li>
    <li>
        <a class="social-link" href="https://www.facebook.com/{{ facebook }}" target="_blank" aria-label="Osgoode Media on Facebook">
            <amp-img src="{{ "/images/facebook-icon.png" | absolute_url }}" layout="fixed" width="54" height="53" alt="Facebook logo"></amp-img>
        </a>
    </li>
    <li>
        <a class="social-link" href="https://www.instagram.com/{{ instagram }}/" target="_blank" aria-label="Osgoode Media on Instagram">
            <amp-img src="{{ "/images/instagram-icon.png" | absolute_url }}" layout="fixed" width="54" height="54" alt="Instagram logo"></amp-img>
        </a>
    </li>
    <li>
        <a class="social-link" href="https://www.pinterest.com/{{ pinterest }}/" target="_blank" aria-label="Osgoode Media on Pinterest">
            <amp-img src="{{ "/images/pinterest-icon.png" | absolute_url }}" layout="fixed" width="54" height="64" alt="Pinterest logo"></amp-img>
        </a>
    </li>
</ul>

