---
layout: en_default
---
{% include pagehero.html %}
	<main>
		<article class="mainarticle">
{{ content }}
{%- if layout.fandom != nil %}
			<h1>Learn more at the {{ layout.game }} Wiki</h1>	
{% include fandom.html game=layout.game fandom=layout.fandom %}	
			<br>
{%- endif %}		
			<h1>{{ layout.game }} is available at</h1>			
{% include stores.html game=layout.game item=layout language="en" %}	
			<br>		
			<h1>{{ layout.game }} on Social Media</h1>
{%- include social.html social=layout.game item=layout %}	
		</article>
	</main>