---
layout: en_game
amp: gamescripts
image: "/images/Pile-of-Cards-title.jpg"
hero: "/images/Pile-of-Cards-title.jpg"
herotitle: "Pile of Cards"
game: "Pile of Cards"
data: gamedata
platforms: ["ANDROID", "WINDOWS", "TIZEN"]
amazon: B07CW5WBH1
gamejolt: "Pile-of-Cards/348634"
googleplay: "com.Osgoode.PileOfCards"
itch: pile-of-cards
microsoft: 9mzdk3ncf8z7
tizen: "com.Osgoode.PileOfCards"
facebook: Pile-of-Cards-574657266245871
youtube: UCFCEMXNxlBI411Dy1pz8xQw
---
{{ content }}