---
layout: en_game
amp: gamescripts
image: "/images/touch-from-a-raindrop-title.jpg"
hero: "/images/touch-from-a-raindrop-title.jpg"
herotitle: "Touch from a Raindrop"
button: "Learn More"
button-link: "/en/touch-from-a-raindrop.html"
game: "Touch from a Raindrop"
data: gamedata
platforms: ["WINDOWS", "XBOX ONE"]
gamejolt: "touch-from-a-raindrop/632432"
steam: "1743150/Touch_from_a_Raindrop/"
facebook: TouchFromARaindrop
instagram: touchfromaraindrop
twitter: FromARaindrop
youtube: UC1OHKBBu8fm4O695Dn8AHWA
---
{{ content }}